/* GENERAL STYLING */
@import url('https://fonts.googleapis.com/css2?family=Geist:wght@100..900&display=swap');

/* NEXT TASK: Try to decrease lines of css codes using others styling packages */
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html{
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body{
  font-family: "Geist", sans-serif;
  background-color: #212529;
  font-weight: 500;
  color: #dee2e6;
}

p{
  line-height: 1.5;
  font-size: 1.6rem;
}

section{
  border: 1px solid #dee2e617;
  padding: 8rem 0;
}
:focus{
    border:none;
    outline:none;

}

.heading-primary{
  font-size: 3.6rem;
  text-align: center;
  margin-bottom: 1.6rem;
  font-weight: 700;
  line-height: 1.1;
  letter-spacing: -2px;
}


/* REUSABLE CLASSES */

.container{
  max-width: 100rem;
  margin: 0 auto;
}

.grid{
  display: grid;
  align-items: center;
}
.grid--1-col{
  grid-template-columns: 1fr;
  justify-items: center;
}

.heading-secondary{
  font-size: 3rem;
  text-align: center;
  /* margin-bottom: ; */
  font-weight: 700;
}

.heading-description{
  font-weight: 400;
  text-align: center;
}

/* --------------------------------- */

.section-hero{
  padding: 9.6rem 0;
  background-color: #212529;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100' height='199' viewBox='0 0 100 199'%3E%3Cg fill='%23dee2e6' fill-opacity='0.06'%3E%3Cpath d='M0 199V0h1v1.99L100 199h-1.12L1 4.22V199H0zM100 2h-.12l-1-2H100v2z'%3E%3C/path%3E%3C/g%3E%3C/svg%3E");
}

.quote{
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 3.6rem;
  align-items: center;
  border: 1px solid #dee2e617;
  padding: 12.8rem;
}
.quote span{
  border-radius: 80px;
  border: 1px solid #dee2e617;
  font-size: 1.8rem;
  padding: .8rem 2.4rem;
  opacity: .7;
}
.quote blockquote{
  line-height: 1.6;
  font-size: 2.4rem;
  text-align: center;
  margin-top: 4.8rem;
}

.scroll-top{
  position: fixed;
  bottom: 0;
  right: 0;
  margin: 2.4rem;
  padding: 1.2rem;
  background-color: #ffd43b;
  color: #4A401D;
  border-radius: 12px;
  text-decoration: none;
  font-size: 1.6rem;
  transform: translateX(100px);
  transition: all 800ms;
}

.menu-fixed{
  position: fixed;
  width:80%;
  top: 2%;
  left: 50%;
  transform: translateX(-50%);
  backdrop-filter: blur(16px);
}

@media (max-width: 42em) {
  .quote{
    padding: 6.4rem;
    height: 100vh;
  }
  .quote blockquote{
    text-align: left;
  }
}
@media (max-width: 31em) {
  html{
    font-size: 56.25%;
  }
}
